.portfolio-wrapper {

  .portfolio-header {
    background: #65758e url('./images/heading-background-1.jpg') no-repeat 50% top;
    background-size: cover;
    min-height: 400px;

    .promo {
      color: #fff;
      padding-top: 160px;
      text-align: center;

      .title {
        font-size: 36px;
        font-family: 'Open Sans', arial, sans-serif;
        font-weight: 800;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        margin-bottom: 15px;
        margin-top: 0;
        text-transform: uppercase;
      }

      .intro {
        max-width: 700px;
        margin: 0 auto;
        font-size: 20px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
      }
    }
  }

  .portfolio-work-list {
    padding: 80px 0;
    background: #f5f5f5;

    .title {
      font-size: 28px;
      font-family: 'Open Sans', arial, sans-serif;
      font-weight: 800;
      color: #505c70;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .button-group {
      margin-bottom: 60px;
      font-size: 13px;
      clear: both;

      :global {
        .btn {
          background: #cbd1da;
          color: #fff;
          font-weight: 300;
          margin-right: 5px;
          margin-bottom: 15px;
          outline: none;
        }
      }

      .checked {
        background: #65758e;
      }
    }
  }

  .projects-wrapper {
    margin-bottom: 60px;

    .project-inner {
      background: #fff;

      .info-mask {
        text-decoration: none;
        visibility: hidden;
        opacity: 0;
        padding: 30px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        background: rgba(48, 56, 67, 0.9);
        transition: all 0.4s ease-in-out;

        >span {
          display: block;
          margin-bottom: 15px;
          color: #fff;
        }

        :global {
          .btn { display: inline-block; }
        }
      }

      .figure {
        position: relative;
        transition: all 0.4s ease-in-out;
        overflow: hidden;

        img {
          transition: transform 0.5s linear;
        }

        &:hover {

          & .info-mask {
            visibility: visible;
            opacity: 1;
          }

          & img {
            transform: scale(1.1);
          }
        }
      }
    }

    .content {
      padding: 30px;

      .sub-title {
        font-size: 16px;
        margin: 0;
        margin-bottom: 15px;

        > a {
          color: #65758e;
        }
      }

      .meta {
        font-size: 14px;
        color: #999;
      }
    }
  }

  .work-way-wrapper {
    padding: 80px 0;

    .title {
      font-size: 28px;
      font-family: 'Open Sans', arial, sans-serif;
      font-weight: 800;
      color: #505c70;
      margin-top: 0;
      margin-bottom: 60px;
    }

    .work-way-item {
      margin-bottom: 30px;

      .item-inner {
        background: #f2f6fb;

        .header-box {
          padding: 15px 30px;
          background: #909cb0;
          color: #fff;

          >i {
            font-size: 35px;
            color: #fff;
          }
        }

        .desc {
          padding: 30px 15px;
          color: #65758e;

          .sub-title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 20px;
            color: #505c70;
          }
        }
      }
    }
  }

  .cta-wrapper {
    background: #65758e url('./images/cta-background.jpg') no-repeat left top;
    background-size: cover;
    min-height: 420px;
    color: #fff;
    padding-top: 80px;

    .title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 30px;
      font-family: 'Open Sans', arial, sans-serif;
      font-weight: 800;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    }

    .contact-info {
      font-size: 24px;

      .intro {
        opacity: 0.8;
        font-weight: 300;
      }

      .info {
        font-family: 'Open Sans', arial, sans-serif;
        font-weight: 800;
      }

      span {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
}